<div class="sidebar-wrapper" [ngClass]="{'open': isOpen}">
  <div class="sidebar">
    <div class="sidebar__header">
        <div class="sidebar__header__main_logo">
          Привет, Парвана
        </div>
        <div class="sidebar__header__close_logo-background" (click)="toggleSideBar()">
          <svg xmlns="http://www.w3.org/2000/svg"
               width="16" height="16" fill="currentColor" viewBox="0 0 16 16"
               class="close_logo">
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
          </svg>
        </div>
      </div>
    <div class="sidebar__inner">
         <app-side-bar-nav
           [closeSidebar]="closeSideBar.bind(this)">
         </app-side-bar-nav>
    </div>
  </div>
  <div class="overlay" (click)="toggleSideBar()"></div>
</div>
