.profile_card {
  border: 1px solid var(--light-color);
  padding: 20px 20px;
  display: grid;
  grid-template-columns: 300px 100px 200px 200px 1fr;
  grid-gap: 25px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

// Avatar+NAME
.avatar-name {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-gap: 20px;
}

.profile_card__img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  overflow: hidden;
}

.profile_card__name {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.profile_card__action-btn {
  grid-column: 5/-1;
  display: flex;
  align-items: center;
  justify-content: center;
}


